.detailsWrapper {
  width: 90vw;
  max-width: 1200px;
  margin: 10vh auto;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(230, 237, 238);
  margin: 15px 0px;
}
.mainImgContainer > img {
  width: 300px;
  height: 400px;
}
.secondaryImages {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
}
.secondaryImages > img {
  width: 100px;
  height: 150px;
}
.detailsContainer {
  background-color: rgb(248, 240, 230);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailsContainer > button {
  width: 250px;
  padding: 0px 10px;
  border-radius: 5px;
  border-color: transparent;
  height: 30px;
  margin: auto;
  background-color: gold;
}
.sizes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media only screen and (max-width: 450px) {
  .imageContainer {
    display: flex;
    flex-direction: column;
  }
  .mainImgContainer > img {
    width: 300px;
    height: 400px;
  }
  .secondaryImages {
    flex-direction: row;
  }
  .secondaryImages > img {
    width: 100px;
    height: 150px;
  }
}
